.dropdown-container {
  position: absolute;
  top: 65px;
  right: 100px;
  background-color: var(--shade-2);
  width: 175px;
  height: 200px;
  z-index: 10;
  opacity: 1;
  border-radius: 5px;
  border: 1px solid var(--shade-3);
  padding: 10px;
}

.menu-btn {
  margin: 5px;
  transition: 0.7s;
  height: 30px;
  border: 1px solid var(--shade-3);
  align-self: center;
  width: 90%;
  transition: all 0.5s;
  background-color: var(--shade-3-opaque);
  border-radius: 5px;
  border: 1px solid var(--shade-4);
}

.menu-btn:hover {
  background-color: var(--shade-4);
}

.menu-btn:active {
  transform: translateY(2px);
}
