.dropdown-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 55px;
  right: 100px;
  background-color: var(--shade-2);
  width: 175px;
  height: 200px;
  z-index: 10;
  opacity: 1;
  border-radius: 5px;
  border: 1px solid var(--shade-3);
  padding: 10px;
  border: 2px solid var(--shade-3);
  box-shadow: 3px 3px 12px black;
}

.nav-link {
  text-decoration: none;
}

.menu-btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
  height: 30px;

  border: 1px solid var(--shade-3);
  align-self: center;
  width: 120px;
  padding: 5px;
  transition: all 0.5s;
  background-color: var(--shade-3-opaque);
  border-radius: 5px;
  border: 1px solid var(--shade-4);
}

.menu-btn:hover {
  background-color: var(--shade-4);
}

.menu-btn:active {
  transform: translateY(2px);
}
