.dropdown-container {
  position: absolute;
  top: 65px;
  right: 100px;
  background-color: var(--shade-2);
  width: 175px;
  height: 200px;
  z-index: 10;
  opacity: 1;
  border-radius: 5px;
  border: 1px solid var(--shade-3);
  padding: 10px;
}
