.welcome-header {
  font-size: 40px;
  padding: 20px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  margin: 30px 50px 20px 50px;
  max-width: 600px;
}

.day-plan-container {
  background-color: var(--shade-2);
  margin: 5px;
  border-radius: 5px;
  border: 1px solid var(--shade-3);
  width: 495px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
}

.day-plan-container > h6 {
  font-size: 26px;
  padding: 5px;
  background-color: var(--shade-4);
  width: 100%;
  border-radius: 5px 5px 0 0;
  border-bottom: 3px solid var(--shade-3);
  justify-self: center;
}

.day-plan-container > p {
  font-size: 16px;
  margin: 8px 5px;
}

@media screen and (max-width: 600px) {
  .welcome-header {
    font-size: 25px;
    margin: 30px 0px 20px 0px;
  }
}

.day-workout-btn {
  margin: 5px;
  transition: 0.7s;
  height: 30px;
  border: 1px solid var(--shade-3);
  align-self: center;
  width: 70%;
  transition: all 0.5s;
}

.day-workout-btn:hover {
  box-shadow: inset 10.1em 0 0 1px var(--shade-3);
}
