.welcome-header {
  font-size: 50px;
  padding: 20px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  margin: 30px 50px 20px 50px;
  max-width: 800px;
  width: 90%;
}

.day-plan-container {
  background-color: var(--shade-2);
  margin: 5px 0 70px 0;
  border-radius: 5px;
  border: 1px solid var(--shade-3);
  width: 500px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day-plan-container > h6 {
  font-size: 30px;
  padding: 5px;
  background-color: var(--shade-4);
  width: 100%;
  border-radius: 5px 5px 0 0;
  border-bottom: 3px solid var(--shade-3);
}

.day-plan-container > ul,
li {
  font-size: 26px;
  font-weight: 500;
  margin: 8px 5px;
}

.no-workout {
  align-self: center;
  font-size: 30px;
  margin-bottom: 200px;
}

.day-workout-btn {
  margin: 5px;
  transition: 0.7s;
  height: 40px;
  border: 1px solid var(--shade-3);
  align-self: center;
  width: 50%;
  transition: all 0.5s;
  margin-bottom: 55px;
  font-size: 25px;
  font-weight: 500;
}

.day-workout-btn:hover {
  box-shadow: inset 10em 0 0 1px var(--shade-3);
}

.day-workout-btn-complete {
  border-radius: 5px;
  margin: 5px;
  transition: 0.7s;
  height: 40px;
  border: 1px solid rgb(31, 141, 9);
  background: rgb(56, 173, 32);
  align-self: center;
  width: 50%;
  margin-bottom: 55px;
  font-size: 25px;
  font-weight: 500;
}

.day-workout-btn-complete:active {
  transition: 0.2s;
  transform: translateY(1px);
}

@media screen and (max-width: 600px) {
  .welcome-header {
    font-size: 30px;
    margin: 30px 0px 20px 0px;
  }

  .day-plan-container {
    width: 300px;
  }

  .day-workout-btn {
    font-size: 20px;
    width: 90%;
  }

  .day-workout-btn-complete {
    font-size: 20px;
    width: 90%;
  }
}

.completion-container {
  background-color: black;
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.completion-container > h6 {
  font-size: 30px;
  margin: 5px;
}

.completion-bar-empty {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--shade-4);
  width: 90%;
  height: 30px;
  font-size: 25px;
  margin: 10px;
  /* padding: 3px; */
  border-radius: 5px;
  outline: 2px solid var(--shade-3);
}

.completion-bar-full {
  /* background-color: var(--complete); */
  width: 10%;
  height: 30px;
  border-radius: 5px;
  z-index: 5;
}

.completion-percent {
  position: absolute;
  z-index: 10;
  right: 5%;
  font-size: 25px;
  opacity: 0.9;
}
